<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 mg-b-20">
    <div class="inbox-left-sd">
        <div class="compose-ml"><a class="btn">报警中心</a></div>
        <div class="inbox-status">
            <ul class="inbox-st-nav">
                <li><a href=@Url.Action("AlarmLogList","Home")><i class="notika-icon notika-form"></i>报警记录</a></li>
                <li><a href=@Url.Action("AlarmSetting","Home")><i class="notika-icon notika-settings"></i>报警设置</a></li>
                <li><a href=@Url.Action("AlarmUserSetting","Home")><i class="notika-icon notika-settings"></i>联系人设置</a></li>
            </ul>
        </div>
    </div>
</div>
