*{
    padding:0;
    margin:0
}

html{
    height:100%
}

body {
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:url(../picture/bglight.png);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed
}

.page-title{
    text-align:center;
    font-size:50px;
    color:#FFF
}

.page-bd{
    width:600px;
    padding:15px 50px 50px 50px;
    border-radius:10px;
    border:silver 1px solid
}

header{
    text-align:center;
    color:#FFF;
    font-size:32px;
}

.page-box{
    width:500px;
    border:silver 1px solid;
    padding:50px;
    border-radius:10px;
    background:#fff
}

.control-label{
    float:left;
    text-align:right;
    padding-right:20px;
    width:85px
}

.form-control{
    width:300px;
    background-color:#FFF;
}

.check-box {
    opacity:1;
    width:16px;
    height:16px;
}

.check-group{
    position:relative;
    margin-left:40px;
}

.check-label{
    position:absolute;
    left:20px;
    top:2px
}

.forget-lable{
    position:absolute;
    right:100px;
}

.forget-a{
    position:absolute;
    right:43px
}

.form-btn{
    margin-left:35px;
    width:350px;
    font-size:18px
}

.form-btn:focus{
    outline:none;
}

.register-group{
    text-align:center
}

.form-verify{
    width:200px;
    background-color:#FFF;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    border:1px solid #ccc;
    background-image:none;
    border-radius:4px;
    box-shadow:inherit 0 1px 1px rgb(0 0 0 / 8%);
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-verify:focus{
    border-color:#66afe9;
    outline:0;
    box-shadow:inset 0 1px 1px rgb(0 0 0 / 8%),0 0 8px rgb(102 175 233 / 60%)
}

.imgcode{
    width:95px;
    height:34px;
    border-radius:4px;
    padding-bottom:4px
}
.imgcode:hover{
    cursor:pointer
}

.verify-span{
    border:1px solid #ccc;
    padding:7px 12px;
    border-radius:4px;
}
.verify-span:hover{
    cursor:pointer
}

.mg-b-40 {
    margin-bottom: 40px;
}